.my-products-page{

    max-width:1400px;

    margin:40px auto;

    padding:20px;

}
.my-edit-btn{

 background:#2563eb;
 color:white;
 border:none;
 padding:10px 14px;
 border-radius:8px;
 cursor:pointer;
 margin-right:10px;

}

.edit-modal{

 position:fixed;
 inset:0;
 background:rgba(
  0,
  0,
  0,
  0.5
 );

 display:flex;
 justify-content:center;
 align-items:center;

 z-index:1000;

}

.edit-box{

 width:500px;
 background:white;

 padding:25px;

 border-radius:12px;

 display:flex;
 flex-direction:column;

 gap:12px;

}

.edit-box input,
.edit-box textarea{

 padding:10px;

 border:1px solid #ccc;

 border-radius:8px;

}

.edit-actions{

 display:flex;
 gap:10px;

}
.product-description{

 margin-top:10px;

 color:#555;

 font-size:14px;

 line-height:1.5;

 max-height:80px;

 overflow:auto;

}
.edit-actions button{

 padding:10px 15px;

 border:none;

 border-radius:8px;

 cursor:pointer;

}
.my-products-header{

    margin-bottom:30px;

}

.my-products-header h1{

    font-size:36px;

    color:#1e293b;

}

.my-products-grid{

    display:flex;

    flex-wrap:wrap;

    gap:25px;

}

.my-product-card{

    width:300px;

    background:white;

    border-radius:16px;

    overflow:hidden;

    box-shadow:
    0 4px 15px
    rgba(0,0,0,0.08);

    transition:0.2s;

}

.my-product-card:hover{

    transform:
    translateY(-5px);

}

.my-product-image{

    width:300px;

    height:180px;

    object-fit:cover;

    display:block;

}

.my-product-content{

    padding:16px;

}

.my-product-content h3{

    margin-bottom:12px;

    font-size:22px;

    color:#1e293b;

}

.my-product-content p{

    margin:8px 0;

    color:#475569;

}

.my-delete-btn{

    width:100%;

    margin-top:15px;

    border:none;

    padding:12px;

    border-radius:10px;

    background:#dc2626;

    color:white;

    font-weight:600;

    cursor:pointer;

}

.my-delete-btn:hover{

    background:#b91c1c;

}